{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Education Platform{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Theme -->
  <link rel="stylesheet" href="{% static 'css/theme.css' %}">
</head>
<body>

  {% comment %} <button id="logoutBtn" class="btn btn-danger position-fixed top-0 end-0 m-3">
    Logout
  </button> {% endcomment %}
  <!-- Navbar -->
  <nav  class="navbar navbar-expand-lg navbar-dark fixed-top glass-nav">
    {% comment %}  class="ms-auto" id="navActions" {% endcomment %}
    <div id="nav-auth-area" class="container">
      <a class="navbar-brand fw-bold" href="{% url 'home' %}">
        EduPlatform
      </a>

      <div class="ms-auto">
        <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm me-2">
          Login
        </a>
        <a href="{% url 'register' %}" class="btn btn-primary btn-sm">
          Get Started
        </a>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% block content %}{% endblock %}

  <!-- JS -->
  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
